
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  background-color: #473e32;
}


.classImg{
  width: 100vw;
  height: 300px;
}

.title{
  margin: 2.5rem 0rem;
  font-size: 50px;
  text-align: center;
  color: white;
  font-family: 'Patrick Hand', cursive;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search{  
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 1rem;
  width: 50%;  
  padding: 5px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.search input {
 margin-left: 2px;
  border: none;  
  text-align: center;
  font-size: 100%;
  justify-content: center;  
  outline: none;
  
}

.search button{
  height: 100%;
  background-color: none;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px; 
  margin-right: 2px;
}

.container-users{ 
  width: 50%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}


.info{
  display: flex;  
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  height: 100px;
  
}

.info p{
  font-size: 10px;
  width: 100%;
  text-align: left;
  margin-left: 3px;
}

.images{
  width: 130px;
  height: 100%;
}

.principal{       
    
  max-width: 100vw;
  margin: 1rem 2rem;  
  margin-top: 2.5rem;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax( 400px, 1fr ));
  grid-template-rows: 1fr;  
 
}

.principal-card{ 
  background-color: #72675a;   
  width: 100%;
  height: 100%;
  display: flex;  
  border-radius: 15px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.text-info{
  
  width: 100%;
  padding: 1rem;
  color: white;
  font-family: 'Patrick Hand', cursive;
  font-size: 16px;  
}

.images img{
  width: 135px;
  height: 100%;
  border-radius: 15px 0px 0px 15px;
}

.search-input{
  width: 100%;
  margin-right: 10px;
}

.content-location{   
   margin: auto;
   margin-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background: white;
  padding: 1rem;
  border-radius: 30px;
  font-family: 'Patrick Hand', cursive;
  width: 60%;
}

.title-locationinfo{
  text-align: center;
}

.card-location{
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
 
}

@media (max-width: 850px) {
 
.search{
  width: 70%;
}

.card-location{
  flex-wrap: wrap;
}

}